/**
* _colors.scss
* 
* do NOT mutate this file, as it is generated automatically
**/

/*
* system
*/

$hw_color_primary: #F62E93;
$hw_color_secondary: #1a1a1a;
$hw_color_text: #1A1A1A;
$hw_color_accent: #FF7900;

/*
* custom
*/
$hw_color_fuchsia: #FB00FF;
$hw_color_pink: #FD3198;
$hw_color_salmon: #FE4D5D;
$hw_color_orange: #FF7900;

$hw_color_black: #000;
$hw_color_gray-dark: #333333;
$hw_color_gray-medium: #808080;
$hw_color_gray-light: #e6e6e6;
$hw_color_gray-faint: #f2f2f2;
$hw_color_white: #fff;
$hw_color_gradient: linear-gradient(135deg, rgba(255,121,0,1) 0%, rgba(254,77,93,1) 26%, rgba(253,49,152,1) 63%, rgba(251,0,255,1) 100%);
$hw_color_gradient_inverse: linear-gradient(298deg, rgba(255,121,0,1) 0%, rgba(254,77,93,1) 26%, rgba(253,49,152,1) 63%, rgba(251,0,255,1) 100%);
