.hws-static-image {

  .hws-container--large {
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
    display: inline-block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

}