.hws-404 {
  height: 100vh;
  min-height: 500px;
  text-align: center;
  padding-top: 70px !important;

  h1 {
    margin-bottom: 0.2em;
    line-height: 0.6em;

    @include screen_xl_up() {
      font-size: 200px;
    }

    @include screen_lg_only() {
      font-size: 150px;
    }

    @include screen_md_only() {
      font-size: 100px;
    }
    @include screen_sm_down() {
      font-size: 70px;
    }

  }

  h2 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 2em;
  }


}